<head>
	<link rel="stylesheet" href="css/admin.css">
</head>

<header></header>

<!--navbar-->
<div id="navContainer">
	<ul class="nav nav-pills">
		<li role="presentation" class="active"><a ng-href="/logout" id="logOut">Log Out</a></li>
		<!--<li role="presentation" ><a href="#/user/{{user._id}}/update" id="navAbout">Update User</a></li>-->
		<li role="presentation" ><a href="#/admin/{{admin}}/message_center" id="navContact">Message Center</a></li>
	</ul>
</div>
<h1>Current Clients</h1>
<hr>
<div class="container">
	<div ng-repeat="user in users" id="userInfo">
		<b>Name:</b> {{user.firstName}} {{user.lastName}} <br>
		<b>Email:</b> {{user.email}} <br>
		<b>Phone Number:</b> {{user.phoneNumber}}
	</div> 
</div>
<hr>

<h1>Message Center</h1>
<div class="container">
 <div ng-repeat="message in messages" id="messages">
    <!--{{message}}-->
    <div ng-repeat='conversation in message.conversations'>
     	<h3>{{conversation.user.firstName}} {{conversation.user.lastName}}: {{conversation.message}}  </h3>
		 <hr class="lineBreak">
	  <div ng-repeat="reply in conversation.reply track by $index" id="replies">
		 {{reply}} <hr class="lineBreak">
	  </div>
	  <div>
  		<!--<label><input ng-click="showChildren=!showChildren" type="checkbox" name="children">Reply</label>-->
	  	<button type="button" class="btn btn-primary btn-xs" ng-click="showTextField=!showTextField">Reply</button>
	  </div>
		<form ng-show="showTextField">
			<textarea placeholder="Enter Reply Here..." rows="3" class="form-control" ng-model="reply"></textarea>
			<button ng-click="createReply(conversation._id, message._id, reply, $index)">Submit</button>
		</form>
    </div>
	
</div>
</div>
<br>
<br>

<custom-footer></custom-footer>