<head>
	<link rel="stylesheet" href="css/admin.css">
</head>

<header></header>

<!--navbar-->
<div id="navContainer">
	<ul class="nav nav-pills">
		<li role="presentation" class="active"><a ng-href="/logout" id="logOut">Log Out</a></li>
		<!--<li role="presentation" ><a href="#/user/{{user._id}}/update" id="navAbout">Update User</a></li>-->
		<li role="presentation" ><a href="#/admin/{{admin}}/message_center" id="navContact">Message Center</a></li>
	</ul>
</div>
<div class="container">
	<h1 id="currentClients">Current Clients</h1>
	User Search: <input type="text" placeholder="Search" ng-model="userSearch" id="adminSearch"></span>
    <hr class="lineBreak">
	<div ng-repeat="user in users | filter: userSearch" id="userInfo">
		<b class="ui">Name:</b> {{user.firstName}} {{user.lastName}} <br>
		<b class="ui">Email:</b> {{user.email}} <br>
		<b class="ui">Phone Number:</b> {{user.phoneNumber}}
	</div> 
</div>
<br>
<br>

<custom-footer></custom-footer>