<head>
	<link rel="stylesheet" href="css/admin.css">
</head>

<header></header>

<div id="navContainer">
	<ul class="nav nav-pills">
		<li role="presentation" class="active"><a ng-href="/logout" id="logOut">Log Out</a></li>
		<li role="presentation" ><a href="#/admin/" id="navAbout">Update User</a></li>
		<!--<li role="presentation" ><a ng-href="#/messages" id="navContact">Message Center</a></li>-->
	</ul>
</div>

<!--<h1 id="msgWelcome">Message Center</h1>-->
<div class="container">
	<h1 id="msgWelcome">Message Center</h1>
	<hr class="lineBreak">
	 <div ng-repeat="convo in convos track by $index" id="convos">
			<div ng-repeat='message in convo.messages'>
			{{message.user.firstName}}:  {{message.text}}
			</div>
			<div class="msgBtn">
				<!--<label><input ng-click="showChildren=!showChildren" type="checkbox" name="children">Reply</label>-->
				<button type="button" class="btn btn-primary btn-xs" ng-click="showTextField=!showTextField">Reply</button>
				<button type="button" class="btn btn-primary btn-xs" ng-click="deleteMessage(message._id, $index)">Delete</button>
			</div>
			<form ng-show="showTextField">
				<textarea placeholder="Enter Reply Here..." rows="3" class="form-control" ng-model="reply.text"></textarea>
				<button ng-click="createReply(convo._id, reply, $index)" class="btn btn-primary msgBtn">Submit</button>
			</form>
        </div>
 	<!--<div ng-repeat="message in messages" id="messages">
		<div ng-repeat='conversation in message.conversations'>
			<h3 id="msgTitle">{{conversation.user.firstName}} {{conversation.user.lastName}}: {{conversation.message}}  </h3>
			<hr id="msgBreak">
		<div ng-repeat="reply in conversation.reply track by $index" id="replies">
			{{reply}} <hr class="lineBreak">
		</div>
		<div>
			<button type="button" class="btn btn-primary btn-xs" ng-click="showTextField=!showTextField" id="replyBtn">Reply</button>
		</div>
			<form ng-show="showTextField">
				<textarea placeholder="Enter Reply Here..." rows="3" class="form-control" ng-model="reply"></textarea>
				<button ng-click="createReply(conversation._id, message._id, reply, $index)" class="btn btn-primary" id="msgBtnSubmit">Submit</button>
			</form>
		</div>
	</div>-->
</div>
<br>
<br>

<custom-footer></custom-footer>