/*nav bar*/
#navContainer {
	background-color: black;
}

#logOut {
	background-color: #CD1D20;
	border: 1px solid black;
	float: right;
	border-bottom-color: black;
}

#navAbout {
	color: white;
}

#navContact {
	color: white;
}

/*Current Clients*/
#currentClients {
	text-shadow: 1px 1px white;
}

#adminSearch{
	display: inline-block;
	border: 1px solid black;
}

#userInfo {
	margin-top: 1%;
	border: 1px solid grey;;
	background-color: #fefcfb;
	box-shadow: 1px 1px 1px 1px gray;
	padding-top: 1%;
	padding-bottom: 1%;
}

.ui {
	margin-left: 1%;
}

/*Message Center*/
#msgWelcome {
	text-shadow: 2px 2px white;
	
}

#convos {
	margin-top: 1%;
	border: 1px solid grey;;
	box-shadow: 1px 1px 1px 1px gray;
}

#convos:nth-child(even) {
	background: whitesmoke;
}

#convos:nth-child(odd) {
	background: #d6ebf1;
}

#message:first-child {
	font-weight: bold;
	font-size: 20px;
	margin-top: 1.5%;
}

#message {
	margin-left: 1.5%;
	margin-right: 1.5%;
}

.lineBreak {
	border-top: 1px solid grey;
}

#replyBtn {
	margin: 1.5%;
}

#msgBtnSubmit {
	margin: 1%;
}