/*nav bar*/
#navContainer {
	background-color: black;
}

#logOut {
	background-color: #CD1D20;
	border: 1px solid black;
	float: right;
	border-bottom-color: black;
}

#navAbout {
	color: white;
}

#navContact {
	color: white;
}

/*Current Clients*/
#currentClients {
	text-shadow: 2px 2px white;
}

#adminSearch{
	display: inline-block;
	border: 1px solid black;
}

#userInfo {
	margin-top: 1%;
	border: 1px solid black;
	background-color: white;
}

/*Message Center*/
#msgWelcome {
	text-shadow: 2px 2px white;
	
}
#messages {
	margin-top: 1%;
	border: 1px solid black;
}
#messages:nth-child(even) {
	background: snow;
}

#messages:nth-child(odd) {
	background: whitesmoke;
}

#msgTitle {
	margin-left: 1.5%;
}

#msgBreak{
	border-top: 3px solid black;
}

.lineBreak {
	border-top: 1px solid black;
}

#replies {
	margin-left: 1.5%;
}

#replyBtn {
	margin: 1.5%;
}

#msgBtnSubmit {
	margin: 1%;
}