/*nav bar*/
#navContainer {
	background-color: black;
}

#navHome {
	background-color: #CD1D20;
	border: 1px solid black;
}

#navAbout {
	color: white;
}

#navContact {
	color: white;
}

/*Main Body*/

#mainRow {
	margin: auto;
}

.boxShadow {
	box-shadow: 1px 1px 1px 1px gray;
}

.homeBtn {
	background-color: #CD1D20;
	color: white;
}

#CLTitle{
	text-align: center;
	/*margin: 1.5%;*/
	text-shadow: 1px 1px white;
}

 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }


.customImg {
    width: 100%;
    height: 250px;
}