/*nav bar*/
#navContainer {
	background-color: black;
}

#logOut {
	background-color: #CD1D20;
	border: 1px solid black;
	float: right;
	border-bottom-color: black;
}

#navAbout {
	color: white;
}

#navContact {
	color: white;
}

/*body*/

#nSearch {
	margin-top: 1%;
}

.lineBreak {
	border-top: 1px solid black;
}

#infoResults {
	border: 1px solid black;
	background-color: white;
	margin-bottom: 1%;
}

.searchResults {
	margin: 2%;
}