/*nav bar*/
#navContainer {
	background-color: black;
}

#logOut {
	background-color: #CD1D20;
	border: 1px solid black;
	float: right;
	border-bottom-color: black;
}

#back {
	color: white;
}

#navContact {
	color: white;
}

/*body*/
#SnTitle {
	text-shadow: 1px 1px white;
}

#nSearch {
	margin-top: 1%;
}

.lineBreak {
	border-top: 1px solid grey;
}

#infoResults {
	border: 1px solid grey;;
	box-shadow: 1px 1px 1px 1px gray;
	background-color: #fefcfb;
	margin-bottom: 1%;
}

.searchResults {
	margin: 2%;
}