/*nav bar*/
#navContainer {
	background-color: black;
}

#logOut {
	background-color: #CD1D20;
	border: 1px solid black;
	float: right;
	border-bottom-color: black;
}

#back {
	color: white;
}

#navContact {
	color: white;
}

/*Main body*/

.resH {
	text-shadow: 2px 2px white;
}

.resList {
	list-style: none;
}

.resBtn {
	margin-top: 2%;
}