/*nav bar*/
#navContainer {
	background-color: black;
}

#logOut {
	background-color: #CD1D20;
	border: 1px solid black;
	float: right;
	border-bottom-color: black;
}

#navAbout {
	color: white;
}

#navContact {
	color: white;
}

/*Main Body*/
#welcomeName {
	text-shadow: 2px 2px white;
	margin-left: 1.5%;
}

.imgBox {
	background-color: #CD1D20;
}

#mainRow {
	margin: auto;
}

/*Message Center*/
#msgBtnSubmit {
	margin: .2%
}
#msgWelcome{
	text-shadow: 2px 2px white;
	margin-left: 1.5%;
}

#msgTitle {
	margin-left: 1.5%;
}

#messages {
	margin-top: 1%;
	border: 1px solid black;
}
#messages:nth-child(even) {
	background: snow;
}

#messages:nth-child(odd) {
	background: whitesmoke;
}

#msgBreak {
	border-top: 3px solid black;
}

.lineBreak {
	border-top: 1px solid lightgray;
}

#replies {
	margin-left: 1.5%;
}

.msgBtn {
	margin: 1.5%;
}

#replyBtnSubmit {
	margin: .2%
}









