/*nav bar*/
#navContainer {
	background-color: black;
}

#logOut {
	background-color: #CD1D20;
	border: 1px solid black;
	float: right;
	border-bottom-color: black;
}

#navAbout {
	color: white;
}

#navContact {
	color: white;
}

/*Main Body*/
#welcomeName {
	text-shadow: 1px 1px white;
	margin-left: 1.5%;
}

.imgBox {
	background-color: #CD1D20;
}

#mainRow {
	margin: auto;
}

.boxShadow {
	box-shadow: 1px 1px 1px 1px gray;
}

.homeBtn {
	background-color: #CD1D20;
	color: white;
	border: 1px solid transparent;
}

/*Message Center*/
#msgWelcome{
	text-shadow: 1px 1px white;
	margin-left: 1.5%;
}

.textArea {
	border: 1px solid grey;
	box-shadow: 1px 1px 1px 1px grey;
}

#msgBtnSubmit {
	margin-top: 1%;
	margin-left: 1.5;
}

#convos {
	margin-top: 1%;
	border: 1px solid lightgray;
	box-shadow: 1px 1px 1px 1px grey;
	
}
#convos:nth-child(even) {
	background: lightcyan;
}

#convos:nth-child(odd) {
	background: whitesmoke;
}

#message {
	margin-left: 1.5%;
	margin-right: 1.5%;
}

#message:first-child {
	font-weight: bold;
	font-size: 20px;
	margin-top: 3%;
}

.lineBreak {
	border-top: 1px solid grey;
}

#msgBreak {
	border-top: 3px solid black;
}

#replies {
	margin-left: 1.5%;
}

.msgBtn {
	margin: 1.5%;
}

#replyBtnSubmit {
	margin: .2%
}









